    <footer>
        <div class="footer-container">
            <div class="footer-section" id="footer-section">
                <h4>Acerca de :</h4>
                <ul>
                    <li><a href="#">Pagá con tarjeta o en efectivo</a></li>
                    <li><a href="#">Envío gratis desde $ 2.500</a></li>
                    <li><a href="#">Copyright © 1999-2022 MercadoLiebre S.R.L.</a></li>
                </ul>
            </div>
            <div class="footer-section">
                <h4>Ayuda</h4>
                <ul>
                    <li><a href="#">Cómo comprar</a></li>
                    <li><a href="#">Preguntas frecuentes</a></li>
                    <li><a href="#">Contáctanos</a></li>
                </ul>
            </div>
            <div class="footer-section">
                <h4>Redes sociales</h4>
                <ul>
                    <li><a href="#"><i class="fab fa-facebook"></i> Facebook</a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i> Twitter</a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i> Instagram</a></li>
                </ul>
            </div>
        </div>
        <div class="copyright">
            <p>&copy; 2024 Mercado Libre. Todos los derechos reservados.</p>
        </div>
    </footer>