<nav class="navbar">
        <div class="navbar-container">
            <div class="navbar-logo-container">
                <img src="/images/logo.png" alt="Logo" class="navbar-logo-img">
                <a href="/" class="navbar-logo">La Ribera Store</a>
            </div>
            <ul class="navbar-menu">
                <li><a href="/" class="active">Inicio</a></li>
                <li><a href="/prod&serv">Productos & Servicios</a></li>
                <li><a href="/ventas">Vender</a></li>
                <li><a href="/contacto">Contacto</a></li>
            </ul>
            <div class="nav-right">
                <% if (user) { %>
                    <span class="nav-user">Hola, <%= user.nombre %></span>
                    <a href="/logout" class="nav-link logout-link">Cerrar sesión</a>
                <% } else { %>
                    <a href="/login" class="nav-link auth-link">Iniciar sesión / Registrarse</a>
                <% } %>
            </div>
        </div>
    </nav>
